@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

scrollableDiv ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(251, 146, 60, 0.6);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

html {
  /* height: 100vh; */
  overflow: auto;
}